.circular--square {
  border-radius: 50%;
  text-align: center;
}
.color {
  color: black;
}

.color-morado {
  color: #23043e;
}

.sobremi {
  background-color: #151550;
  color: #fff;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #149ddd;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: rgba(20, 157, 221, 0.75);
  transition: 0.3s;
  width: 50%;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: rgba(20, 157, 221, 0.95);
}

.portfolio .portfolio-wrap .portfolio-links a + a {
  border-left: 1px solid #37b3ed;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transform: scale(1.5);
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

.container {
  overflow: hidden;
}

/* Aqui pegue lo demás */

.filterDiv {
  float: center;
  background-color: #151550;
  color: #ffffff;
  width: 320px;
  line-height: 250px;
  text-align: center;
  margin: 21px;
  display: none;
}

.show {
  display: block;
}
/*
.container {
  margin-top: 20px;
  overflow: hidden;
}
*/
/* Style the buttons */
/*
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
*/
/*
.texto-encima {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #151550;
}
*/
.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}
.centrado {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  color: #151550;
}
.centradoboton {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  color: #fff;
  background-color: #151550;
}

.columnas {
  column-count: 2;
  column-gap: 10px;
  /*columns-rule: 4px dotted gray;*/
}
.columnashabilidades {
  column-count: 3;
  /*column-gap: 1px;*/
  /*columns-rule: 4px dotted gray;*/
}

.columnas3 {
  column-count: 2;
  /*column-gap: 10px;*/
  /*columns-rule: 4px dotted gray;*/
}
